<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{data.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{data.title}}</h5>
          <p class="card-text">{{data.description}}</p>
          <h5 class="card-title">{{data.price}}</h5>
         <div class="buttn1">
          <button type="button" class="btn " style="background-color: rgb(170, 98, 98);color: aliceblue; margin: 5px;">Add to cart</button>
          <button type="button" class="btn " style="background-color: brown;;color: aliceblue;margin: 5px;">Buy Now</button> 
         </div> 
         
        </div>
      </div>
    </div>
  </div>