<div class="maincontainer">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/mm.jpg" class="d-block w-100 " alt="...">
      </div>
      
      <div class="carousel-item">
        <img src="../../../assets/full-shot-cool-people-wearing-chain-necklace.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/cool-guy-good-mood-posing-blue-background-jumping.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/happy-lady-stylish-skirt-boater-posing-pink-wall.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/red2.jpg" class="d-block w-100" alt="...">
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card p-5">
      <img src="../../../assets/wepik-red-and-black-instagram-post-with-photo-20240210151011KRVp.png" class="card-img-top" alt="...">
      <a routerLink="/products" class="stretched-link"></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card p-5">
      <img src="../../../assets/wepik-red-and-black-instagram-post-with-photo-20240210151037T6BN.png" class="card-img-top" alt="...">
      <a routerLink="/products" class="stretched-link"></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card p-5">
      <img src="../../../assets/wepik-red-and-black-instagram-post-with-photo-20240210150716F5lv.png" class="card-img-top" alt="...">
      <a routerLink="/products" class="stretched-link"></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card p-5">
      <img src="../../../assets/wepik-red-and-black-instagram-post-with-photo-20240210150919rv3F.png" class="card-img-top" alt="...">
      <a routerLink="/products" class="stretched-link"></a>
    </div>
  </div>
  
</div>




